<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://cdn.staticfile.org/dplayer/1.25.1/DPlayer.min.js"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/dplayer/1.25.0/DPlayer.min.css">
</head>

<body>

<div id="dplayer" style="font-size: 12px;height: 500px;width: 500px"></div>
<button class="click1">点击观看</button>
</body>
<script type="text/javascript" src="../assets/js/dplay.js"></script>
</html>
