<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/assets/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/assets/editormd/css/editormd.min.css">
    <title>邓力凡的博客</title>
</head>
<body background="{{.}}">

    <div class="container">
     {{template "header"}}

     <div class="div1">
<!--         <img src="/assets/img/1.jpg" style="width: 100%;height: 100%">-->

     </div>


    </div>

</body>
</html>