<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <script src="/assets/js/bootstrap.min.js"></script>
    <title>邓力凡的博客</title>
</head>
<body>

<div class="container" align="center">
    {{template "header"}}
    <form method="post" action="/login">
        <p style="background-color: red">{{.}}</p>
        <br><br><br><br><br><br><br><br>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">用户名称</label>
            <input type="text" name="username" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">用户密码</label>
            <input type="password" name="password" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-primary">登录</button>
    </form>

</div>

</body>
</html>